body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilo para la tabla "Anuncios Publicados" */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #2C3E50;
    color: #ffffff;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f5f5f5;
}

/* Estilo para el título "Anuncios Publicados" */
h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2C3E50;
    padding: 10px 0;
    background-color: #EAEDED;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h3:hover {
    background-color: #D5D8DC;
}

/* Estilos para los botones y el select */
.btn, select {
    margin: 5px 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover, select:hover {
    background-color: #0056b3;
}

/* Estilo para el label del filtro de vigencia */
label {
    margin-right: 10px;
    font-weight: bold;
}

/* Estilo para el botón de filtrar */
input[type="submit"] {
    background-color: #28a745;
}

input[type="submit"]:hover {
    background-color: #218838;
}
